@font-face {
    font-family: 'Verdana';
    src: url('fonts/verdana.ttf');
}
@font-face {
    font-family: 'Cursed Timer ULiL';
    src: url('fonts/CursedTimerUlil-Aznm.ttf');
}
body {
    margin: 0;
    background-image: url('img/cool-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
}
.background {
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
.container {
    display: flex;
    justify-content: space-around;
    background:  #1B244A;
    width: 575px;
    height: 385px;
    border-radius: 10px;
    box-shadow: 10px 10px 23px -4px rgba(197, 183, 183, 0.75);
    position: relative;
    top: 200px;
    Left: 600px;
}
h3{
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
/* identical to box height, or 90% */

text-align: center;

color: #EEEEEE;
}
.score-card{
    width: 155px;
    height: 120px;
    position: relative;
    left: 5px;
    background: #080001;
    border-radius: 5px;
}
.home-points,.guest-points{
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    margin-top: 0px;
    text-align: center;
    color: #F94F6D;
}
.plus-point{
    display: flex;
    justify-content: space-around;
}
.plus-point button{
    border: 2px solid #9AABD8;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #9AABD8;
    background-color: #1B244A;
    position: relative;
    top:50px;
    left: 8px;
}
/* Hover Push */
@-webkit-keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  @keyframes hvr-push {
    50% {
      -webkit-transform: scale(0.8);
      transform: scale(0.8);
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  .hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
 .hvr-push:active {
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }
